@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7da038;
  --primary-foreground: #ffffff;

  --accent: #b2004b;
  --accent-foreground: #ffffff;

  --warn: #f44336;
  --warn-foreground: #ffffff;

  --radius: 0.5rem;

  --background: #ffffff;
  --foreground: #09090b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --popover: #ffffff;
  --popover-foreground: #09090b;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --border: #e4e4e7;

  --input: #e4e4e7;

  --ring: #18181b;
}

.dark {
  --background: #292d33;
  --foreground: #bec3ca;

  --card: #292d33;
  --card-foreground: #adb3bd;

  --popover: #292d33;
  --popover-foreground: #adb3bd;

  --secondary: #30353b;
  --secondary-foreground: #adb3bd;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --border: #3c4049;

  --input: #3c4049;

  --ring: #d4d4d8;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-muted;
}

::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
